{% extends 'base.html' %}

{% block title %}
Create Player
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" class="form-register">
        {{ create_form.hidden_tag() }}
        
        {{ create_form.email_address.label }}
        {{ create_form.email_address(class="form-control") }}
        
        {{ create_form.first_name.label }}
        {{ create_form.first_name(class="form-control") }}
        
        {{ create_form.last_name.label }}
        {{ create_form.last_name(class="form-control") }}
        
        {{ create_form.position.label }}
        {{ create_form.position(class="form-control") }}
        
        <br/>
        <input type="submit" value="Go">
    </form>
</div>
{% endblock %}