{% extends 'base.html' %}

{% block title %}
Reset Password
{% endblock %}

{% block banner %}
Reset Password
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" class="form-control">
        {{ reset_password_form.hidden_tag() }}
        
        {{ reset_password_form.new_password.label }}
        {{ reset_password_form.new_password(class="form-control") }}
        
        {{ reset_password_form.confirm_password.label }}
        {{ reset_password_form.confirm_password(class="form-control") }}
        
        <br/>
        <div class="text-center">
            {{ reset_password_form.submit(class="btn btn-lg btn-block btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}