{% extends 'base.html' %}

{% block title %}
Update
{% endblock %}

{% block banner %}
Update
<br/>
<h2>{{ meeting.type.title() }}</h2>
<h3>{{ meeting.date }}</h3>
<h5>{{ meeting.hour }} {{ meeting.day }}</h5>
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" class="form-control">
		{% for position in positions %}
		<table class="table" style="border-collapse: separate; border-spacing: 0 0.2em;">
			<thead class="table-dark">
			<h3>{{ position.title() }}s</h3>
			<td class="text-center">Number</td>
			<td class="text-center">Name</td>
			<td class="text-center">Present</td>
			</thead>
			<tbody class="text-center">
			{% for player in players if player.position == position %}
				<tr>
					<td class="col-2"><h5>{{ player.number }}</h5></td>
					<td class="col-3">
						<a class="#" href="{{ url_for('views.player_profile_page', player_id=player.profile_id) }}">
							<h5>{{ player.first_name }} {{ player.last_name }}</h5>
						</a>
					</td>
					<td class="col-2">
						<button class="btn btn-success">X</button>
					</td>
				</tr>
			</tbody>
			{% endfor %}
		</table>
		 {% endfor %}
		<div class="text-center">
    	<button class="btn btn-success">Save</button>
    	<a href="javascript:history.back()" class="btn btn-dark">Cancel</a>
		</div>
    </form>
</div>
{% endblock %}