{% extends 'base.html' %}

{% block title %}
Create Meeting
{% endblock %}

{% block content %}
<div class="container text-center">
  <h5 class="display-5">Create Meeting</h5>
</div>
<div class="container">
    <form method="POST" class="form-control">
        {{ create_meeting_form.hidden_tag() }}
        
        {{ create_meeting_form.date.label }}
        {{ create_meeting_form.date(class="form-control") }}
        <br/>
        {{ create_meeting_form.hour.label }}
        {{ create_meeting_form.hour(class="form-control") }}
        <br/>
        {{ create_meeting_form.locality.label }}
        {{ create_meeting_form.locality(class="form-control") }}
        <br/>
        {{ create_meeting_form.type.label }}
        {{ create_meeting_form.type(class="form-control") }}
        <br/>
        {{ create_meeting_form.pitch.label }}
        {{ create_meeting_form.pitch(class="form-control") }}
        <br/>
        <div class="text-center">
            {{ create_meeting_form.submit(class="btn btn-lg btn-block btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}