{% extends 'base.html' %}

{% block title %}
Create Meeting
{% endblock %}

{% block banner %}
Create Meeting
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" class="form-control">
        {{ create_meeting_form.hidden_tag() }}
        
        {{ create_meeting_form.date.label }}
        {{ create_meeting_form.date(class="form-control") }}
        <br/>
        {{ create_meeting_form.hour.label }}
        {{ create_meeting_form.hour(class="form-control") }}
        <br/>
        {{ create_meeting_form.locality.label }}
        {{ create_meeting_form.locality(class="form-control") }}
        <br/>
        {{ create_meeting_form.type.label }}
        {{ create_meeting_form.type(class="form-control") }}
        <br/>
        {{ create_meeting_form.pitch.label }}
        {{ create_meeting_form.pitch(class="form-control") }}
        <br/>
        <div class="text-center">
            {{ create_meeting_form.submit(class="btn btn-lg btn-block btn-primary") }}
        </div>
    </form>
</div>
<br/>
<br/>
<br/>
<div class="container">
    <table class="table table-bordered">
        <thead class="text-center">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Day</th>
                <th scope="col">Hour</th>
                <th scope="col">Pitch</th>
                <th scope="col">Locality</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for meeting in meetings %}
            {% include 'includes/meetings_modals.html' %}
                <tr>
                    <td>{{ meeting.date }}</td>
                    <td>{{ meeting.day }}</td>
                    <td>{{ meeting.hour }}</td>
                    <td>{{ meeting.pitch.title().replace("_"," ") }}</td>
                    <td>{{ meeting.locality }}</td>
                    <td>{{ meeting.type.title() }}</td>
                    {% if current_user.user_type == 'player' %}
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal-ChangeMeeting-{{ meeting.id }}">
                            Change
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal-DeleteMeeting-{{ meeting.id }}">
                            Delete
                        </button>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}