{% extends 'base.html' %}

{% block title %}
Add Player
{% endblock %}

{% block banner %}
Add Player
{% endblock %}

{% block content %}
<div class="container">
    <div>
        <form method="POST" class="form-control">
            {{ add_player_form.hidden_tag() }}
            
            {{ add_player_form.email_address.label }}
            {{ add_player_form.email_address(class="form-control") }}
            <br/>
            {{ add_player_form.first_name.label }}
            {{ add_player_form.first_name(class="form-control") }}
            <br/>
            {{ add_player_form.last_name.label }}
            {{ add_player_form.last_name(class="form-control") }}
            <br/>
            {{ add_player_form.position.label }}
            {{ add_player_form.position(class="form-control") }}
            <br/>
            {{ add_player_form.number.label }}
            {{ add_player_form.number(class="form-control") }}
            <br/>
            <div class="text-center">
                {{ add_player_form.submit(class="btn btn-lg btn-block btn-primary") }}
            </div>
        </form>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="container">
    <table class="table table-bordered">
        <thead class="text-center">
            <tr>
                <th scope="col">Position</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Number</th>
                <th scope="col">Birth Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            {% include 'includes/players_modals.html' %}
                <tr>
                    <td>{{ player.position.title() }}</td>
                    <td>{{ player.first_name }}</td>
                    <td>{{ player.last_name }}</td>
                    <td>{{ player.number }}</td>
                    <td>{{ player.birth_date }}</td>
                    {% if current_user.user_type == 'player' %}
                    <td class="text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal-ChangePlayer-{{ player.id }}">
                            Change
                        </button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#Modal-DeletePlayer-{{ player.id }}">
                            Delete
                        </button>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}