{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block banner %}
{% if current_user.profile.profile_id == player.profile_id %}
My Profile
{% else %}
{{ player.first_name }} {{ player.last_name }}
{% endif %}

{% endblock %}

{% block content %}
</div>
<br/>
<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://www.shareicon.net/data/512x512/2016/06/30/788946_people_512x512.png"
                                 alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{ player.first_name }} {{ player.last_name }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0"><strong>Position</strong></h6>
                            </div>
                            <div class="col-sm-5 text-dark">
                                {{ player.position.title() }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0"><strong>Number</strong></h6>
                            </div>
                            <div class="col-sm-5 text-dark">
                                {{ player.number }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0"><strong>Age</strong></h6>
                            </div>
                            <div class="col-sm-5 text-dark">
                                {{ age }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-5">
                                <h6 class="mb-0"><strong>Attendance (%)</strong></h6>
                            </div>
                            <div class="col-sm-5 text-dark">
                                {{ attendance_percentage }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-bordered table-striped text-center">
      <thead class="table-dark">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Attendance</th>
        </tr>
      </thead>
      <tbody>
      {% for meeting in meetings %}
        <tr class="">
            <td><strong>{{ meeting.date.strftime("%d/%m/%Y") }}</strong></td>
          <td>{{ meeting.type.title() }}</td>
          <td>
              {% if player in meeting.attendance %}
                    <div class="btn btn-success disabled">
                      Present
                    </div>
              {% else %}
                    <div class="btn btn-danger disabled">
                      Absent
                    </div>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
        </tr>
      </tbody>
    </table>
</div>
{% endblock %}