{% extends 'base.html' %}
{% block title %}
Squad
{% endblock %}
{% block banner %}
Squad
{% endblock %}
{% block content %}
<div class="container">
    {% for position in positions %}
    <table class="table table-bordered" style="border-collapse: separate; border-spacing: 0 0.2em;">
        <thead class="table-dark">
        <h3>{{ position.title() }}s</h3>
            <tr>
                <th scope="col" class="col-2 text-center">Number</th>
                <th scope="col" class="col-6">Name</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players if player.position == position %}
            <tr>
                <td class="text-center">{{ player.number }}</td>
                <td>
                    <a class="text-dark" href="{{ url_for('views.player_profile_page', player_id=player.profile_id) }}">
                    {{ player.first_name }} {{ player.last_name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
       
    </table>
     {% endfor %}
</div>
{% endblock %}