{% extends 'base.html' %}
{% block title %}
Squad
{% endblock %}
{% block banner %}
Squad
{% endblock %}
{% block content %}
<div class="container">
    {% for position in positions %}
    <table class="table table-striped align-middle text-center" style="border-collapse: separate; border-spacing: 0 0.5em;">
        <thead class="table-dark">
        <h3>{{ position.title() }}s</h3>
            <tr>
                <th scope="col" class="col-3 text-center">Number</th>
                <th scope="col" class="col-1"></th>
                <th scope="col" class="col-8">Name</th>
            </tr>
        </thead>
        <tbody class="text-center">
        {% for player in players if player.position == position %}
            <tr>
                <td>{{ player.number }}</td>
                <td>
                    <div class="d-flex flex-column align-items-center text-center">
                        <img src="{{ url_for('static', filename='avatars/'+player.avatar) }}"
                                 alt="Avatar" class="rounded-circle" width="40">
                    </div>
                </td>
                <td>
                    <a class="text-dark" href="{{ url_for('views.player_profile_page', player_id=player.profile_id) }}">
                    {{ player.first_name }} {{ player.last_name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
     {% endfor %}
</div>
{% endblock %}