<!-- Modal Change Player -->
<div class="modal fade" id="Modal-ChangePlayer-{{ player.user_id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ChangePlayerModalLabel">
                    Change {{ player.profile.first_name }} {{ player.profile.last_name }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('coach.update_player') }}" method="POST">
                <div class="modal-body">
                    {{ update_player_form.csrf_token }}
                    {{ update_player_form.first_name.label }}
                    {{ update_player_form.first_name(class="form-control", value=player.profile.first_name) }}
                    <br/>
                    {{ update_player_form.last_name.label }}
                    {{ update_player_form.last_name(class="form-control", value=player.profile.last_name) }}
                    <br/>
                    {{ update_player_form.position.label }}
                    {{ update_player_form.position.process_data(player.profile.position) }}
                    {{ update_player_form.position(class="form-control", value=player.profile.position.title()) }}
                    <br>
                    {{ update_player_form.old_number(value=player.profile.number) }}
                    
                    {{ update_player_form.number.label }}
                    {{ update_player_form.number(class="form-control", value=player.profile.number) }}
                    <br/>
                    {{ update_player_form.birth_date.label }}
                    {{ update_player_form.birth_date(class="form-control", value=player.profile.birth_date) }}
                    <br/>
                </div>
                <div class="modal-footer">
                    <input id="update_player" name="update_player" type="hidden" value="{{ player.profile.profile_id }}">
                    {{ update_player_form.submit(class="btn btn-success", value="Save Changes") }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Delete Player -->
<div class="modal fade" id="Modal-DeletePlayer-{{ player.user_id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeletePlayerModalLabel">Delete Player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{ player.profile.first_name }} {{ player.profile.last_name }} profile?</p>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <form action="{{ url_for('coach.delete_player') }}" method="POST">
                        {{ delete_player_form.csrf_token }}
                        {{ delete_player_form.delete_obj_id(value=player.user_id) }}
                        {{ delete_player_form.submit(class="btn btn-danger") }}
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                </div>
            </div>
        </div>
    </div>
</div>