<!-- Modal Change Player -->
<div class="modal fade" id="Modal-ChangePlayer-{{ player.profile.profile_id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ChangePlayerModalLabel">
					Change {{ player.profile.first_name }} {{ player.profile.last_name }}
				</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST">
                <div class="modal-body">
                    {{ update_form.hidden_tag() }}
					
                    {{ update_form.first_name.label }}
                    {{ update_form.first_name(class="form-control", value=player.profile.first_name) }}
                    <br/>
                    {{ update_form.last_name.label }}
                    {{ update_form.last_name(class="form-control", value=player.profile.last_name) }}
                    <br/>
                    {{ update_form.position.label }}
                    {{ update_form.position.process_data(player.profile.position) }}
                    {{ update_form.position(class="form-control", value=player.profile.position.title()) }}
                    <br>
                    {{ update_form.number.label }}
                    {{ update_form.number(class="form-control", value=player.profile.number) }}
                    <br/>
                    {{ update_form.birth_date.label }}
                    {{ update_form.birth_date(class="form-control", value=player.profile.birth_date) }}
                    <br/>
                </div>
                <div class="modal-footer">
                    <input id="update_player" name="update_player" type="hidden" value="{{ player.profile.profile_id }}">
                    {{ update_form.submit_update(class="btn btn-success", value="Save Changes") }}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Player -->
<div class="modal fade" id="Modal-DeletePlayer-{{ player.user_id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="DeletePlayerModalLabel">Delete Player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete {{ player.profile.first_name }} {{ player.profile.last_name }} profile?</p>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <form method="POST">
						{{ delete_form.csrf_token }}
                        <input id="delete_player" name="delete_player" type="hidden" value="{{ player.user_id }}">
                        {{ delete_form.submit_delete(class="btn btn-danger") }}
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
                </div>
            </div>
        </div>
    </div>
</div>