<!-- Modal Change Player -->
<div class="modal fade" id="Modal-ChangePlayer-{{ player.id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ChangePlayerModalLabel">Change {{ player.first_name }} {{ player.last_name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ update_form.hidden_tag() }}
		  
		{{ update_form.first_name.label }}
		{{ update_form.first_name(class="form-control", value=player.first_name) }}
		<br/>
		{{ update_form.last_name.label }}
		{{ update_form.last_name(class="form-control", value=player.last_name) }}
		<br/>
		{{ update_form.position.label }}
		{{ update_form.position(class="form-control", value=player.position) }}
		<br/>
		{{ update_form.number.label }}
		{{ update_form.number(class="form-control", value=player.number) }}
		<br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Player -->
<div class="modal fade" id="Modal-DeletePlayer-{{ player.id }}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="DeletePlayerModalLabel">Delete {{ player.first_name }} {{ player.last_name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete {{ player.first_name }} {{ player.last_name }} profile?</p>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="btn btn-danger">Confirm</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
        </div>
      </div>
    </div>
  </div>
</div>